<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        {{ about_section }}
        <div class="row">
          <div class="col-lg-6">
            <img src="{{about_image}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3> {{ about_heading}} </h3>
            <p class="fst-italic">
                {{ about_sub_heading}}
            </p>
            <ul>
              {{about_list_item}}
                <li><i class="bx bx-check-double"></i> {{value}}</li>
              {{/about_list_item}}
            </ul>
            <p> {{ about_para}} </p>
          </div>
        </div>
        {{ /about_section }}
      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container">

          <div class="row">
            {{why_us_section}}
         
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="card">
                    {{if why_us_images }}
                        <img src="{{why_us_images}}" class="card-img-top" alt="...">
                    {{else }}
              
                    {{/if}}
                    <div class="card-icon">
                        {{if count == 1}}
                            <i class="bx bx-book-reader"></i>
                        {{elseif count == 2 }}
                            <i class="bx bx-calendar-edit"></i>
                        {{else }}
                             <i class="bx bx-landscape"></i>
                        {{/if}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{our_mission_link}}">{{our_mission_title}}</a></h5>
                        <p class="card-text">{{our_mission_text}} </p>
                    </div>
                    </div>
                </div>
        
          {{/why_us_section}}
        </div>
      

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Frequenty Asked Questions Section ======= -->
 
    <section class="faq">
      <div class="container">

        <div class="section-title">
          <h2>Frequenty Asked Questions</h2>
        </div>
        <ul class="faq-list">
        <!-- {{if faq_grid}} -->
    
        
        {{foreach:faq_grid as='questions'}}

          <li>
            <a data-bs-toggle="collapse" data-bs-target="#faq{{ key }}" class="collapsed">
              {{questions:faq_que}}
              <i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq{{ key }}" class="collapse" data-bs-parent=".faq-list">
              <p>
                {{questions:faq_para}}
              </p>
            </div>
          </li>
        {{/foreach:faq_grid}}

        <!-- {{/if}} -->
        </ul>

      </div>
    </section><!-- End Frequenty Asked Questions Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact Us</h2>
        </div>

        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-5 mb-5 mb-md-0">
            <div class="info">
              <div class="address">
                <i class="bx bx-map"></i>
                <p>A108 Adam Street<br>New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bx bx-envelope"></i>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bx bx-phone-call"></i>
                <p>+1 5589 55488 55s</p>
              </div>
            </div>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-5 col-md-7">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->